/**
 * Main Stylesheet
 * 
 * @author rjosephporter
 */

 .search-results {
 	margin-top: 15px;
 }

 .search-results .panel-body {
 	padding: 30px 15px;
 }

 .product-image-small {
 	margin: 25px 0px;
 }

 .product-attr {
	margin-bottom: 10px;
}

 .product-attr-title, .product-attr-value {
 	padding: 0px 5px;
 	font-size: 13px;
 }

 .payout-title, .payout-value {
 	color: #0CB425;
 }

 .source-product-results {
 	margin-top: 20px;
 }

 .table-responsive-wide {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

#product-info-big .spinner {
	margin-top: 150px;
}

#search-results-body .spinner {
	margin-top: 50px;
	margin-bottom: 50px;
}

#footer {
	margin-top: 25px;
}

.color-selector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
.color-selector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}